<main>
	<div class="calendar" data-path="<%= employee_calendar_path(@employee) %>"></div>
	<div class="panel-footer">
    <%= link_to "Main page", root_path %>||<%= link_to "Back", employee_appointment_path(@employee) %>
  </div>
</main>