<main>
	<div class="calendar" data-path="<%= customer_calendar_path(@customer) %>"></div>
	<div class="panel-footer">
    <%= link_to "Main page", root_path %>||<%= link_to "Back", appointments_path %>
  </div>
</main>