<main>
	<div class="panel panel-default">
		<div class="panel-heading">Edit profile</div>

	<%= render 'form' %>

	<div class="panel-footer"><%= link_to 'Back', home_system_path %></div>
	</div>
</main>