// Place all the styles related to the employees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.column {
    float: left;
    padding: 10px;
    
}

.left {
  width: 50%;
}

.right {
  width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}