<main>
	<div class="panel panel-default">
		<div class="panel-heading">Edit appointment</div>

	<%= render 'form' %>

	<div class="panel-footer"><%= link_to 'Back', appointments_path %></div>
	</div>
</main>