<main>	
	<div class="panel panel-default">
		<div class="panel-heading">Make appointment</div>

	<%= render 'form' %>

	<div class="panel-footer"><%= link_to 'Back', customer_search_path(@customer) %></div>
	</div>
</main>